.section__cartItem{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, minmax(0, auto));
}

.section__cartItem--infoProducts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, minmax(0, 60px));
  img{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  div:first-child{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  div:last-child{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}