@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root{
  --primary-color: #fbf6f5;
  --secondary-color: #d3a096;
  --tertiary-color: #aa6558;
  --quaternary-color: #77463d;
  --extra-color: #351e1a;

  --primary-font: 'Reddit Sans', sans-serif;
}

html{
  font-family: var(--primary-font);
  background-color: var(--primary-color);
}

a, button{
  transition: all .3s ease;
}

/* Header Styles */
.listActive{
  border-bottom: 2px solid var(--secondary-color);
}

.listHeader{
  color: var(--tertiary-color);
}

.listHeader:hover{
  padding: 0 4px;
  transform: scale(1.1);
  color: var(--extra-color);
}
/* Header Styles */

/* Aside Checkout Styes */
.btnCheckoutCart:hover{
  background-color: var(--extra-color);
}
/* Aside Checkout Styes */

/* Order User Styles */
.arrowOrderUser:hover{
  padding: 12px;
  border-radius: 50%;
  border: 2px solid var(--extra-color);
}